/sentiment_classification/mlruns
/sentiment_classification/results
/sentiment_classification/models

/sentiment_classification/SFT-paral/mlruns
/sentiment_classification/SFT-paral/results
/sentiment_classification/SFT-paral/models
/sentiment_classification/SFT-paral/wandb

/sentiment_classification/SFT-paral/full_pipeline/mlruns
/sentiment_classification/SFT-paral/full_pipeline/results
/sentiment_classification/SFT-paral/full_pipeline/models
/sentiment_classification/SFT-paral/full_pipeline/wandb

/politosphere/fine-tuning/mlruns
/politosphere/fine-tuning/results
/politosphere/fine-tuning/models
/politosphere/fine-tuning/wandb